body {
  font-family: 'Segoe UI', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #1a1a1a;
  color: #f2f2f2;
}
.container {
  max-width: 1000px;
  margin: auto;
  padding: 40px;
  display: flex;
  gap: 40px;
}
.sidebar {
  width: 55%;
}
.main {
  width: 70%;
}
h1 {
  font-size: 2.5em;
  margin-bottom: 20px;
}
h2 {
  color: #00bfff;
  border-bottom: 1px solid #444;
  padding-bottom: 5px;
  margin-top: 40px;
}
p, li {
  line-height: 1.6;
}
.section {
  margin-bottom: 30px;
}
.contact-info {
  margin: 20px 0;
  /*font-size: 0.9em;*/
}
.contact-info i {
  margin-right: 8px;
  color: #00bfff;
}
ul {
  list-style-type: none;
  padding-left: 0;
}
li::before {
  content: "\2022 ";
  color: #00bfff;
  font-weight: bold;
  display: inline-block;
  width: 1em;
}
.avatar {
  width: 220px;
  height: auto;
  border-radius: 10px;
  margin-bottom: 1rem;
  animation: float 3s ease-in-out infinite;
}

/* Slide Animation's */
.fade-in {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 1s ease-out forwards;
}
@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.slide-in-left {
  opacity: 0;
  transform: translateX(-50px);
  animation: slideInLeft 1s ease-out forwards;
}
.slide-in-right {
  opacity: 0;
  transform: translateX(50px);
  animation: slideInRight 1s ease-out forwards;
}
@keyframes slideInLeft {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes slideInRight {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

/* Picture Animation */
@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

/*Cursor/Pointer Changes*/
/*body {
  cursor: pointer;
}*/
body {
  cursor: url('https://cdn.custom-cursor.com/db/22802/32/color-pixels-carolina-blue-cursor.png'), auto;
}
